.main_container {
  backdrop-filter: blur(1px);
  position: fixed;
  left: 0;
  right: 0;
  top: 96px;
  bottom: 0;
  z-index: 1000;
  overflow-y: hidden;
}

.container {
  border: 1px solid #f9f9f9;
  display: flex;
  color: #707070;
  left: 72.5%;
  border-radius: 4px;
  background: #ffffff;
  position: fixed;
  z-index: 1000;
  width: 15%;
  padding: 15px 23px;
  flex-direction: column;
  gap: 25px;
}
.flex {
  display: flex;
}
.justify_between {
  justify-content: space-between;
}
.hidden {
  display: none;
}
.cart__container {
  position: relative;
}

.cart__logo {
  padding: 14.33px;

  cursor: pointer;
  transition: 0.3s all;

  border-radius: 16px;
  background: #f3f4ff;
}

.cart__container span {
  position: absolute;
  top: -7px;
  right: -4px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 3px 7px;

  text-align: center;

  color: #fff;
  border-radius: 50%;
  background: #4e60ff;

  font-size: 10px;
}
.delete {
  right: -4px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px 7px;
  text-align: center;
  color: #fff;
  background: #ff4e4e;
  font-size: 10px;
  cursor: pointer;
}
