.card {
  position: relative;

  flex-basis: 31.4%;

  border: 1px solid #EDEEF2;
  border-radius: 16px;
}

.card__image {
  position: relative;
}

.card__image img {
  width: 100%;

  cursor: pointer;

  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.card__info {
  padding: 16px;
}

.featured {
  position: absolute;
  top: 0;
  right: 0;

  display: block;

  padding: 8px 16px;

  cursor: pointer;
  letter-spacing: 0.6px;
  text-transform: uppercase;

  color: #FFF;
  border-radius: 0 16px;
  background: #4E60FF;

  font-size: 11px;
  font-weight: 700;
}

.card__heading {
  display: flex;
  justify-content: space-between;
}

.card__heading h6 {
  margin-bottom: 6px;

  cursor: pointer;
  letter-spacing: 0.1px;

  font-size: 18px;
  font-weight: 700;
}

.card__shop img {
  width: 20px;
  height: 20px;

  cursor: pointer;
}

.card__price {
  display: flex;
  align-items: center;
}

.time__logo {
  width: 12px;
  height: 12px;
  margin-right: 3px;
}

.food__time {
  color: #545563;

  font-size: 12px;
}

.circle {
  display: block;

  width: 3px;
  height: 3px;
  margin: 0 8px;

  border-radius: 50%;
  background: #4E60FF;
}

.food__price {
  color: #545563;

  font-size: 12px;
}

.card__tags {
  display: flex;
}

.food__tag {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 70px;
  height: 24px;
  margin-top: 14px;
  margin-right: 8px;

  cursor: pointer;
  text-transform: capitalize;

  border-radius: 100px;
  background: #EDEEF2;
  gap: 8px;
}

.food__tag img {
  width: 12px;
  height: 12px;
}

.food_tag__name {
  font-size: 10px;
}
