.container {
  display: flex;

  max-width: 1110px;
  margin: 0 auto;
  margin-top: 32px;
  padding: 20px 10px;
  gap: 30px;
}

@media only screen and (max-width: 865px) {
  .container {
    flex-wrap: wrap;
  }

  .container div {
    flex-basis: 28.33% !important;
  }
}
