.btn__primary,
.btn__secondary,
.btn__borderless {
  height: 44px;
  padding: 10px;

  cursor: pointer;
  letter-spacing: 0.3px;

  border: none;
  border-radius: 8px;

  font-family: Nunito;
  font-weight: 700;
  line-height: 20px;
}

.btn__primary {
  margin-bottom: 16px;

  color: #FFF;
  background: #4E60FF;
  box-shadow: 0 8px 20px rgb(78 96 255 / 16%);
}

.btn__borderless {
  transition: 0.3s all;

  color: #4E60FF;
  background: transparent;
}

.btn__borderless:hover {
  color: #FFF;
  background: #4E60FF;
}

.btn__secondary {
  transition: 0.3s all;

  color: #83859C;
  border: 1px solid #83859C;
  border-radius: 8px;
  background: transparent;
}

.btn__secondary:hover {
  color: #FFF;
  background: #83859C;
}
