.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 20px 10px;
}

.card__container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 30px;
}

@media only screen and (max-width: 1130px) {
  .card__container {
    grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
  }
}
