.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 1110px;
  margin: 0 auto;
  padding: 20px 10px;
}

.logo__search {
  display: flex;
}

.header__divider {
  width: 100%;
  height: 1px;

  background-color: #EDEEF2;
}
