.container {
  position: relative;

  width: 100%;
}

.container::after {
  position: absolute;
  bottom: 95px;

  display: block;

  width: 100%;
  height: 1px;

  content: " ";

  background: #EDEEF2;
}

.heading {
  letter-spacing: 0.1px;

  font-size: 20px;
  font-weight: 600;
}

.profile__container {
  width: 100%;
  margin-top: 16px;
  padding: 24px 12px;

  border: 1px solid #EDEEF2;
  border-radius: 16px;
}

.profile__heading {
  margin-bottom: 16px;

  letter-spacing: 0.1px;

  font-size: 18px;
  font-weight: 700;
}

.profile__subtext {
  font-size: 12px;
  font-weight: 600;
}

.avatar__container {
  display: flex;
  align-items: center;

  margin-bottom: 16px;
  gap: 28px;
}

.avatar__upload {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 83px;
  height: 44px;

  cursor: pointer;
  transition: 0.3s all;
  letter-spacing: 0.3px;

  color: #4E60FF;
  border: 1px solid #4E60FF;
  border-radius: 8px;
  background: transparent;

  font-size: 14px;
  font-weight: 700;
}

.hidden {
  display: none;
  visibility: hidden;
}

.avatar__remove {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 83px;
  height: 44px;

  cursor: pointer;
  letter-spacing: 0.3px;

  color: #83859C;
  border: none;
  background: none;

  font-size: 14px;
  font-weight: 700;
}

.info__container {
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
}

.flex_col {
  flex-direction: column;
}

.input__container {
  display: flex;

  width: 100%;
  margin-bottom: 68px;
  gap: 16px;
}

.input__container:first-child {
  margin-bottom: 32px;
}

.input__container div {
  flex-basis: 50%;
}

.input__heading {
  margin-bottom: 4px;

  color: #545563;

  font-size: 12px;
  font-weight: 600;
}

.checkbox__container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.checkbox_main_container {
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
  gap: 24px;
}

.checkbox {
  accent-color: #4E60FF;
}

.checkbox__name {
  letter-spacing: 0.1px;

  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.action__container {
  display: flex;
  justify-content: space-between;

  margin-top: 56px;
}

.logout__btn {
  box-sizing: border-box;
  padding: 12px 16px;

  cursor: pointer;

  color: #FF5C60;
  border: 1px solid #FF5C60;
  border-radius: 8px;
  background: transparent;

  font-size: 14px;
  font-weight: 700;
}

.submit__container {
  display: flex;
  gap: 15px;
}
