.input {
  box-sizing: border-box;
  height: 44px;
  margin: 4px 0 28px;
  padding: 12px;

  transition: 0.3s all;

  color: #545563;
  border: 1px solid #C7C8D2;
  border-radius: 8px;

  font-size: 14px;
  font-weight: 400;
}

.input:focus {
  outline-style: solid;
  outline-color: #4E60FF;
}
