.login_container {
  margin: 0 auto;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 20px 10px;
}

.login {
  margin-top: 130px;
}

.login__heading {
  color: #2b2b43;

  font-size: 60px;
  font-weight: 700;
  line-height: 82px;
}

.login__text {
  max-width: 350px;
  margin: 14px 0 32px;

  color: #2b2b43;

  font-size: 14px;
  font-weight: 400;
}

.login__form {
  display: flex;
  flex-direction: column;
}

.login__checkbox {
  display: flex;
  gap: 12px;

  margin-bottom: 40px;
}

.login__checkbox input {
  box-sizing: border-box;

  border: 2px solid #c7c8d2;
  border-radius: 4px;
}

.login__checkbox label {
  color: #2b2b43;

  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.login__signup {
  margin: 106px 0 40px;

  text-align: center;
}

.colorized {
  cursor: pointer;
  transition: 0.3s all;

  color: #4e60ff;

  font-weight: 400;
  line-height: 20px;
}

.colorized:hover {
  font-weight: 600;
}
.error {
  color: red;
  font-weight: bold;
  margin-top: 15px;
  text-align: center;
}
