.search__container {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.search__logo {
  position: absolute;
  right: 14px;

  cursor: pointer;
}

.header__search {
  margin-left: 48px;
  padding: 10px 48px 10px 12px;

  letter-spacing: 0.1px;

  border: none;
  border-radius: 12px;
  outline: none;
  background: #EDEEF2;

  font-size: 14px;
}
