.container {
  width: 30%;
}

.heading {
  letter-spacing: 0.1px;

  font-size: 20px;
  font-weight: 600;
}

.settings__card {
  display: flex;
  align-items: center;

  margin-top: 16px;
  padding: 16px;

  cursor: pointer;

  border: 1px solid #EDEEF2;
  border-radius: 16px;
  gap: 12px;
}

.active {
  border: 2px solid #4E60FF;
}

.active .settings__card {
  background: #FFF;
}

.card__heading {
  letter-spacing: 0.1px;

  color: #2B2B43;

  font-size: 14px;
  font-weight: 700;
}

.card__subtext {
  letter-spacing: 0.2px;

  color: #545563;

  font-size: 13px;
}

.card__icon {
  padding: 12px 13px;

  border-radius: 12px;
  background: #EDEEF2;
}

.active .card__icon {
  background: #4E60FF;
}

@media only screen and (max-width: 865px) {
  .container {
    width: 100%;
  }
}
