.preview__container {
  min-width: 800px;

  background: #697BFF;
}

.preview__heading {
  margin: 145px 0 16px;

  text-align: center;
  letter-spacing: 0.1px;

  color: #FFF;

  font-size: 32px;
  font-weight: 700;
}

.preview__text {
  max-width: 480px;
  margin: 0 auto;

  text-align: center;
  letter-spacing: 0.1px;

  color: #FFF;

  font-size: 14px;
  font-weight: 400;
}

.squared {
  position: absolute;
  top: 71px;
  right: 27px;
}

.horizontal {
  position: absolute;
  bottom: -71px;
  left: -37px;
}

.review__container {
  position: relative;
}

.circle__container {
  display: flex;
  justify-content: center;

  margin-top: 40px;
  gap: 8px;
}

.circle {
  width: 8px;
  height: 8px;

  cursor: pointer;
  transition: 0.3s all;

  opacity: 0.3;
  border-radius: 50%;
  background: #FFF;
}

.circle:hover {
  opacity: 1;
}

.active {
  opacity: 1 !important;
}
