@import "https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: Nunito, sans-serif;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 20px 10px;
}

a {
  text-decoration: none;

  color: unset;
}
