.food__menu_item {
  display: flex;
  align-items: center;
  flex-basis: 16.7%;
  flex-direction: column;
  justify-content: center;

  box-sizing: border-box;
  height: 80px;

  cursor: pointer;
  transition: 0.3s all;
  letter-spacing: 0.1px;
  text-transform: capitalize;

  color: #545563;
  border: 1px solid #EDEEF2;
  border-radius: 16px;
  background: #FFF;

  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  gap: 12px;
}

.food__menu_item:hover {
  border-color: #697BFF;
  background: #F8F9FF;
}

.active {
  cursor: default !important;

  border-color: #697BFF;
  background: #F8F9FF;
}
