.nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;

  list-style: none;

  letter-spacing: 0.1px;

  color: #2b2b43;

  font-size: 14px;
  font-weight: 700;
}

.menu__item {
  cursor: pointer;
  transition: 0.3s all;
}

.menu__item:not(:last-child) {
  margin-left: 20px;
}

.menu__divider {
  width: 1px;
  height: 32px;
  margin: 0 20px;

  background: #edeef2;
}

.user {
  display: flex;
  align-items: center;

  margin-left: 24px;
}

.userbox {
  display: flex;

  width: 50px;
  height: 50px;
  margin-left: 16px;
  padding: 1px;

  cursor: pointer;

  border: 2px solid #edeef2;
  border-radius: 16px;
}

.userbox a {
  display: flex;
}

.user__avatar {
  border-radius: 16px;
}

.menu__item:hover {
  color: #4e60ff;
}

.cart__logo:hover {
  background: #eaeaf5;
}
